<div class="comment">
    <img src="/images/icon.webp" class="icon">
    <div class="info">
        <p class="text"> {{number}} </p>
        <p class="text"> {{username}} </p>
        <p class="text"> {{comment}} </p>
    </div>
    <button class="remove"> X </button>
</div>
