<!-- Header -->
	<header id="header">
		<div class="inner">

			<!-- Logo -->
				<a href="/" class="logo">
					<span class="symbol"><img src="../images/lapitlogo.png" alt="" /></span><span class="title">Lapit</span>
					</a>

			<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
				{{#if flag}}
				
					<h7 class="in">Hello {{name}}!</h7>

    			{{/if}}

		</div>
	</header>